/* h1、p、body要素の上下左右余白（margin）を0にする、P要素、a要素のフォントサイズを20px */
h1 {
  margin: 0 0;
  /* 文字色をrgb(255,255,255) */
  color: rgb(255, 255, 255);
}

p {
  margin: 0 0;
  font-size: 20px;
}

body {
  margin: 0 0;
}

a {
  font-size: 20px;
}

header {
  /* 下の余白を20px */
  margin-bottom: 20px;
  /* 背景色を rgb(244, 79, 79) */
  background-color: rgb(244, 79, 79);
  /* 中の要素が中央揃えに */
  text-align: center;
}

main {
  /* main要素内の余白を上下左右とも10px */
  padding: 10px 10px;
}

#parent {
  /* displayプロパティを使い、id名parentの要素をFlexコンテナ */
  display: flex;
  /* justify-contentプロパティでFlexboxコンテナの子要素（Flexアイテム）「一番左と一番右のアイテムも含め、均等な間隔で配置する」値を設定 */
  justify-content: space-around;
}

.contents {
  /* 線（太さ3px、実線、色rgb(238, 204, 204)）で要素を囲い */
  border: solid 3px rgb(238, 204, 204);
  /* 幅は親要素の25%にします。プロパティはwidthではなく、flex-basis */
  flex-basis: 25%;
  /* 要素内の余白は上下10px、左右15px */
  padding: 10px 15px;
  /* 要素外の余白は上下20px、左右0 */
  margin: 20px 0;
  /* 中の要素が中央揃え */
  text-align: center;
}

h2 {
  /* h2要素のフォントサイズを25pxにし、下線（太さ3px、点線、色rgb(236, 122, 122)） */
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
}

h2::before {
  /* h2要素の前に「●」記号を表示します。色はrgb(239, 111, 139) */
  content: "●";
  color: rgb(236, 111, 139);
}

/* contents内の二番目のp要素内のテキストの中で一番目の文字にのみ、以下のスタイル設定 */
/* 太字、文字色はrgb(97, 206, 249) */
.contents p:nth-of-type(2) {
  ::first-letter {
    font-weight: bold;
    color: rgb(97, 206, 249);
  }
}

/* class名contents内のimg要素に、marginは上下10px、左右0、幅は70% */
.contents img {
  margin: 10px 0;
  width: 70%;
}

footer {
  /* 背景色はrgb(244, 79, 79)にします。 */
  background-color: rgb(244, 79, 79);
  /* 中身の要素が中央揃えになるようにします。 */
  text-align: center;
}

a:link {
  /* 文字色はrgb(255, 255, 255)にします。 */
  color: rgb(255, 255, 255);
}

a:hover {
  /* マウスカーソルが乗ると文字色がrgb(245, 178, 168)に変化 */
  color: rgb(245, 178, 168);
}

a:visited {
  /* 訪問済みリンクの文字色がrgb(193, 234, 251)に変化 */
  color: rgb(193, 234, 251);
}

/* 画面幅768px以下になったら表示が変わるようにブレークポイントを設定 */
@media screen and (max-width: 768px) {
  /* h2のフォントサイズは30px */
  h2 {
    font-size: 30px;
  }
  /* pのフォントサイズは25pxとします。 */
  p {
    font-size: 20px;
  }
  /* Flexboxコンテナであるid名parent内の要素が縦に並ぶ */
  #parent {
    display: block;
  }
}
